<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <!-- <li class="nav-item">
        <a class="nav-link" href="../../index.html">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-arrow-up-drop-circle-outline  menu-icon"></i>
          <span class="menu-title">Admin</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="admin">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/backOffice/moneyTransctions.html">Money Transctions</a></li>
            
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#agent" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-account-card-details menu-icon"></i>
          <span class="menu-title">Agent</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="agent">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/AgentOffice/clients.html">Clients Orders</a></li>
            
          </ul>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="../../pages/dashboard/dashboard.html">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#money" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-cash-multiple menu-icon"></i>
          <span class="menu-title">Deposit to Us</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="money">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/clientOffice/UsdtForm.html">USDT</a></li>
            <li class="nav-item"> <a class="nav-link" href="../../pages/clientOffice/wireForm.html">Wire Transfer</a></li>
            <li class="nav-item"> <a class="nav-link" href="../../pages/backOffice/moneyTransctions.html">Money Transctions</a></li>

          </ul>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="form-elements">
          <i class="mdi mdi-account-multiple-outline menu-icon"></i>
          <span class="menu-title">Users</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="users">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="/addUser">Add User</a></li>
            <li class="nav-item"><a class="nav-link" href="/allUsers">Users List</a></li>
          </ul>
        </div>
       
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#report" aria-expanded="false" aria-controls="form-elements">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Reports</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="report">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="/uploadReport">Upload Report</a></li>
            <li class="nav-item"><a class="nav-link" href="/myEmployees">My Employees <br>Daily Reports</a></li>
            <li class="nav-item"><a class="nav-link" href="/reviewReports">Reports Review</a></li>
          </ul>
        </div>
       
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#hiring" aria-expanded="false" aria-controls="form-elements">
          <i class="mdi mdi-cards-outline menu-icon"></i>
          <span class="menu-title">Hiring</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="hiring">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="/allHires">Orders List</a></li>
            <li class="nav-item"><a class="nav-link" href="/addHire">Generate Hiring Link</a></li>
          </ul>
        </div>
       
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#staff" aria-expanded="false" aria-controls="form-elements">
          <i class="mdi mdi-face menu-icon"></i>
          <span class="menu-title">Our Staff</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="staff">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="/addStaff">New Staff Form</a></li>
            <li class="nav-item"><a class="nav-link" href="/staffList">Employees List</a></li>
          </ul>
        </div>
       
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
          <i class="icon-bar-graph menu-icon"></i>
          <span class="menu-title">Charts</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/charts/chartjs.html">ChartJs</a></li>
          </ul>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="tables">
          <i class="mdi mdi-settings menu-icon"></i>
          <span class="menu-title">Settings</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="settings">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/Confiig/currencyPrices.html">Currencies prices</a></li>

          </ul>
        </div>
      </li>
      
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="icon-contract menu-icon"></i>
          <span class="menu-title">Icons</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/icons/mdi.html">Mdi icons</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/register.html"> Register </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
          <i class="icon-ban menu-icon"></i>
          <span class="menu-title">Error pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="error">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a></li>
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../pages/documentation/documentation.html">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Documentation</span>
        </a>
      </li> -->
    </ul>
  </nav>